.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, rgba(128,128,128,1) 30%, rgb(0, 0, 0) 100%) fixed;
  padding: 50px; /* Add padding */
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.projects .projectTitle {
  text-align: center;
  color: #ffffff;
  font-size: 6vw; 
  font-weight: bolder;
}

.projectList {
  width: 90vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  place-items: center;
  flex-grow: 1; /* Allow grid to grow and fill available space */
}

/* MENU ITEM STYLING */
.projectItem {
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.projectItem .bgImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1 {
  font-size: 25px;
  color: #ffffff;
}

/* Responsive Design */
@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr; /* 2 columns for medium screens */
  }
}

@media only screen and (max-width: 1000px) {
  .projects .projectTitle {
    font-size: 7vw; /* Adjust font size for mid-sized screens */
  }
}

@media only screen and (max-width: 800px) {
  /* One column layout on smaller screens */
  .projectList {
    grid-template-columns: 1fr; 
    width: 100%; /* Ensure grid takes up the full width */
  }

  .projectItem {
    width: 90vw; /* Make items wider for smaller screens */
    height: 250px; /* Adjust item height */
    margin: 20px 0; /* Reduce margins */
  }

  .projects .projectTitle {
    font-size: 8vw; /* Adjust title font size */
    padding: 0 20px; /* Add some padding to avoid title touching the edges */
  }
}

@media only screen and (max-width: 500px) {
  .projectItem h1 {
    font-size: 18px; /* Adjust text size for very small screens */
  }
}
